// アコーディオン全体
.accordion-area{
  list-style: none;
  width: 96%;
  max-width: 900px;
  margin:0 auto;

  li{
    margin: 10px 0;
  }

  section {
    border: 1px solid #ccc;
  }

}


// アコーディオンタイトル
.title {
  position: relative;/*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size:1rem;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  transition: all .5s ease;

  // アイコンの＋と×
  &::before,
  &::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;
    background-color: #333;
  }

  &::before{
    top:48%;
    left: 15px;
    transform: rotate(0deg);
  }

  &::after{
    top: 48%;
    left: 15px;
    transform: rotate(90deg);
  }

  // closeというクラスがついたら形状変化
  &.close{

    &::before{
      transform: rotate(45deg);
    }

    &::after{
      transform: rotate(-45deg);
    }
  }
}

// アコーディオンで現れるエリア
.box {
    display: none;
    background: #f3f3f3;
    margin: 1%;
    padding: 3%;
}
