<div class="home blur">

  <%= image_tag "logo.jpg", class:"home_logo" %>
  <div class="home_content">-- 目標の実現があなたの人生を充実させる --</div>
  <div><%= link_to "Fulfill!って？", about_path,class:"home_btn" %></div>

  <% if !user_signed_in? %>
    <div class="home_guest">
      <%= link_to "GUEST LOGIN",users_guest_sign_in_path, method: :get, class:"home_guest" %>
    </div>
  <% end %>
</div>
