<div class="task_works">
  <table class="table table-hover table-bordered">

    <thead class="thead-light">
      <tr>
        <th>今日のタスク</th>
      </tr>
    </thead>

    <tbody>
      <% task_works.each do |task_work| %>
        <tr>
          <td class="d-flex">
            <% if task_work.status == true %>
              <%= link_to "",task_work_path(task_work),class:"fas fa-check-circle", method: :patch, remote: true %>
              <%= task_work.task.content %>
            <% else %>
              <%= link_to "",task_work_path(task_work),class:"far fa-circle", method: :patch, remote: true %>
              <%= task_work.task.content %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>