<div class="task_works">
  <div class="ml-4 wide_note">
    <div class="wide_note_box">
      <h5>今日のタスク</h5>
      <div class="wide_note_area">
        <% task_works.each do |task_work| %>
          <% if task_work.status == true %>
            <%= link_to task_work_path(task_work),class:"fas fa-check-circle d-block link", method: :patch, remote: true do %>
              <%= task_work.task.content %>
            <% end %>
          <% else %>
            <%= link_to task_work_path(task_work),class:"far fa-circle d-block link", method: :patch, remote: true do %>
              <%= task_work.task.content %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>