<div class="task_data-area ml-5">
  <div class="task_data text-center">
    <div class='task_data-hole'></div>
    <div class='task_data-hole'></div>
    <div class='task_data-hole'></div>
    <div class='task_data-hole'></div>
    <div class='task_data-hole'></div>
    <div class='task_data-hole'></div>
    <div class='task_data-hole'></div>
    <div class='task_data-hole'></div>
    <div class='task_data-hole'></div>
    <div class='task_data-hole'></div>
    <div class='task_data-hole'></div>
    <div class='task_data-hole'></div>
    <div class='task_data-hole'></div>
    <div class='task_data-hole'></div>
    <div class='task_data-hole'></div>
    <div class='task_data-hole'></div>
    <div class='task_data-hole'></div>
  </div>
  <div class="task_box">
    <div>
      設定したタスク
      <%= link_to "",new_goal_task_path(@goal.id),class:"task_modal_open fas fa-plus-circle", remote: true %>
    </div>
    <div class="task_area">
      <% tasks.each do |task| %>
        <div class="mb-2">
          <%= link_to edit_goal_task_path(@goal.id,task),class:"task_modal_open task_week_content d-block link", remote: true do %>
            <%= task.content %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
