<div class="container">
  <div class="row mt-5 mb-5"></div>
  <div class="row mt-5">
    <div class="col-3 mx-auto">
      <h4>目標を決めましょう</h4>
      <div><%= render "layouts/errors", obj: @goal %></div>
    </div>
  </div>

  <%= form_with model: @goal, local: true do |f| %>
    <div class="row mt-5">
      <div class="col-5 mx-auto">
        <%= f.text_field :content, size:"40",class:"form-control-lg" %>
      </div>
    </div>

    <div class="row mt-5 mb-5">
      <div class="col-1 mx-auto"><%= f.submit '新規登録', class:"btn-flat-success"%></div>
    </div>
  <% end %>
</div>