/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar
 *= require_tree .
 *= require_self
 */

/*追記*/
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// リセットCSS
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// リストに・はつけない
ul{
  list-style:none;
}

// fontawesomeのアイコンカラーは黒とする
.fas{
  color:black;
}

// テキストエリアのサイズ
.area_form{
  width: 450px;
  height: 150px;
}

// リンクのデザイン
// リンクの下線をアニメーションする
.link_animation{
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: #000000;
  text-decoration: none;
  &:hover{
    color: #000000;
    text-decoration: none;
  }
  &:after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000000;
    transform: translate(-100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
    content: "";
  }
  &:hover:after{
    transform: translate(0, 0);
  }
}

// メッセージ
.flash{
   color :#008000;
 }

 .alert{
   color :#ff0000;
 }

.message_underline{
  margin: auto;
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

// ボタン
.button {
  font-size: 1rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
}

.button:hover {
  background: #0090aa;
}

.btn-flat-success {

  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: #228b22;
  border: solid 2px #228b22;
  border-radius: 5px;
  transition: .4s;
  background: transparent;
  &:hover{
    background: #228b22;
    color: white;
  }
}

.btn-flat-primary {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: #007bff;
  border: solid 2px #007bff;
  border-radius: 5px;
  transition: .4s;
  background:  transparent;
  &:hover{
    background: #007bff;
    color: white;
  }
}

.btn-flat-danger {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: #dc3545;
  border: solid 2px #dc3545;
  border-radius: 5px;
  transition: .4s;
  background:  transparent;
  &:hover{
    background: #dc3545;
    color: white;
  }
}

// 入力フォーム1
.contact-form {
  .form-field {
    position: relative;
    margin: 32px 0;
  }

  .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #000;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;

    &:focus {
      outline: none;

      + .label {
        transform: translateY(-24px);
      }
    }

    &.not-empty {
      + .label {
        transform: translateY(-24px);
      }
    }
  }

  .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #888;
    cursor: text;
    transition: transform 0.2s ease-in-out;
  }

  .submit-btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
}
