.goal_data{
  width: 160px;
  height: 100px;
  padding: 10px 10px 15px;
  border: solid;
  border-radius: 5px;
}

.goal_data_title{
  font-size: 15px;
  font-weight: 10px;
}

.goal_data_body{
  height: 100px;
  text-align: center;
  font-size: 35px;
}



