.goal:before{
  margin: 0px 4px;
  bottom: 1px;
  content: "\f024";
  font-family: FontAwesome;
}

.complete:before{
  margin: 0px 4px;
  bottom: 1px;
  content: "\f5a2";
  font-family: FontAwesome;
}

.goal_area{
  height: 390px;
  overflow-y: scroll;
}

.note{
  width: 700px;
  height: 450px;
  background-image: url("note.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.goal_box{
  width: 320px;
  padding: 14px;
}

.complete_box{
  width: 320px;
  padding: 14px;
}
