.search-text {
  width: 300px;
  height: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid black;
  font-size: 20px;
  line-height: 1;
  
  &::placeholder {
    font-size: 14px;
    position: relative;
    bottom: 2px;
  }

}


.search-form {
  display: block;
  position: relative;
  height: 40px;
}
.search-btn {
  position: absolute;
  background-color: #fff;
  border: #fff;
  right: 10px;
  top: 50%;
  font-size: 25px;
  transform: translateY(-50%);
}




/*ページネーション自体のデザイン*/
.pagination {
  width: 200px;
  margin: auto;
  padding: auto;
}
.pagination>li>a {
  margin-left: 10px;
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}