.home{
  text-align: center;
  margin-top: 10%;
}

.home_logo{
  width: 400px;
  height: 120px;
  object-fit: cover;
}

.home_content {
  font-size: 13px;
  margin: 0px 0 50px;
}

.home_btn {
  padding: 9px 16px;
  font-size: 17px;
  background: #00f735;
  color: #fff;
  border-radius: 5px;
}

.home_btn:hover {
  background: #77f490;
  color: #fff;
}

.home_guest,
.home_guest:visited,
.home_guest:hover,
.home_guest:active {
  margin-top: 10px;
  color: #808080;
}


.blur{
  animation-name: blurAnime;
  animation-duration: 1800ms;
  animation-fill-mode: forwards;
}

@keyframes blurAnime{
  from {
  filter: blur(10px);
  transform: scale(1.02);
  }

  to {
  filter: blur(0);
  transform: scale(1);
  }
}

