.modal_display {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px;
  min-width: 500px;
  border-radius: 5px;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(.95);
  z-index: 3;
  opacity: 0; //透明にする（ふわっと表示させる）
  visibility: hidden; //存在自体隠す
  transition: 0.3s;
  overflow: auto; //スクロール
}

.mask_display {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 2;
  opacity: 0; //透明にする（ふわっと表示させる）
  visibility: hidden; //存在自体隠す
  transition: 0.3s;
}

.modal_display_error {
  visibility: hidden; //存在自体隠す
  height: 0;
}

.modal_display.modal_display_active{
  transform: translate(-50%, -50%) scale(1); //.95(95%)=>1(100%)にすることで徐々に大きくなる表示
  opacity: 1;
  visibility: visible;
}

.mask_display.mask_display_active{
  opacity: 0.7;
  visibility: visible;
}

.modal_display_error.modal_display_error_active{
  visibility: visible;
  height: 35px;
  padding: 10px 15px;
}
