.task_data {
  width: 345px;
  height: 380px;
  background:#bfffc5;
  border-radius: 0 0 10px 10px;
  position: relative;
  margin-bottom: 30px;
  display: flex;
  &-area {
    position: relative;
    z-index: 1;
  }
  &-hole {
    height: 10px;
    width: 20px;
    position: relative;
    &:before {
      content: "";
      height: 10px;
      width: 4px;
      background: white;
      position: absolute;
      top: 0;
      left: 8px;
    }
    &:after {
      content: "";
      height: 10px;
      width: 10px;
      background: white;
      border-radius: 5px;
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }

  &:before {
    content: "";
    width: 345px;
    height: 385px;
    background: gray;
    opacity: 0.5;
    position: absolute;
    left: 5px;
    border-radius: 0 0 20px 20px;
    z-index: -1;
  }

}

.task_box{
  width: 360px;
  padding: 0 20px;
  position: absolute;
  display: block;
  top: 30px;
}

.task_area{
  width: 310px;
  height: 310px;
  overflow-y: scroll;
  position: absolute;
  display: block;
  top: 30px;
}

.task_area::-webkit-scrollbar {
    display:none;
}
.arrow{
  margin-top: 140px;
  margin-left: 6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #abff44;
}
