.clip_box{
  width: 240px;
  height: 350px;
  left: -20px;
  background-image: url("boad.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 12px;
}

.clip:before{
  margin: 0px 4px;
  bottom: 1px;
  content: "\f0c6";
  font-family: FontAwesome;
}

.clip_area{
  width:　220px;
  height: 260px;
  overflow-y: scroll;
}

.clip_item{
  list-style-type: disc;
  margin-left: 20px;
}