.info{
  width: 100%;
  display: flex;
}

.user_name{
  position: relative;
  top: 18px;
}
.clip_box{
  width: 240px;
  height: 380px;
}

.clip:before{
  margin: 0px 4px;
  bottom: 1px;
  content: "\f0c6";
  font-family: FontAwesome;
}

.clip_area{
  width:　220px;
  height: 340px;
  overflow-y: scroll;
}

.clip_item{
  list-style-type: disc;
  margin-left: 20px;
}

.clip_text{
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

.clip_area::-webkit-scrollbar {
    display:none;
}