<div class="modal_display">
  <div class="text-right"><a class="modal_display_close fas fa-times-circle"></a></div>
  <div class="modal_display_body">
    <div class="row mt-2">
      <div class="col-10 mx-auto d-flex">
        <div class="col-4">コメント：</div>
        <div class="col-9" style="white-space: pre-wrap;"><%= @report.comment %></div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-3 mx-auto">
        <div>満足度：<%= @report.fulness %></div>
      </div>
    </div>

    <div class="row mt-3 mb-2">
      <div class="col-3 mx-auto">
        <div>達成度：<%= @report.task_progress %>/<%= @report.task_all %></div>
      </div>
    </div>
  </div>
</div>

<!--マスク-->
<div class="mask_display"></div>
