<div class="container mb-5">
  <div class="row mt-5">
    <div class="col-3 mx-auto">
      <div class="complete">今日もお疲れさまでした</div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-5 mx-auto d-flex">
      <div class="complete_body">コメント：</div>
      <pre><%= @report.comment %></pre>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-3 mx-auto">
      <div class="complete_body">満足度：<%= @report.fulness %></div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-3 mx-auto">
      <div class="complete_body">達成度：<%= @report.task_progress %>/<%= @report.task_all %></div>
    </div>
  </div>
</div>
